html {
    box-sizing: border-box;
}
#page-title {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.6px;
    word-spacing: 1.6px;
    text-align: center;
}
.nav-bar {
    display: flex;
    margin: auto;
    width: 300px;
    height: auto;
}
#nav-list {
    display: flex;
    padding: 1em;
    border: 1px solid crimson;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
}
.container {
    border: 1px solid black;
    display: flex;
    padding: 3px;
}
.home {
    display: flex;
    padding: 5px;
    border: 1px solid red;
    flex-direction: column;
    text-align: center;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.images {
    padding: 5px;
    border: 1px solid greenyellow;
    width: 350px;
    height: auto;
}